**/__pycache__
.DS_Store
.DS_Store?
**/.vscode
# Ignore big data files
datasets/*
*.zip
*.tar.gz
# training artifacts
results/
robust_training/results/
~/
*.pth
*.pth.tar
*.pt
*.log
*.out
/home/ashtomer/projects/ares/wandb
wandb/
outputs/
sbatches/